name: Python Integration Tests


on:
  workflow_dispatch:
  push:
    branches: main
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string

jobs:
  integration:
    environment: Integ
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12']
        # python-version: ['3.10', '3.11', '3.12', '3.13']
    permissions:
      id-token: write
      contents: read
    env:
      AGENTCORE_RUNTIME_ARN: ${{ secrets.AgentCoreRuntimeArn }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref || github.ref }}

      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --frozen --all-extras --dev

      - name: Configure AWS Credentials for Tests
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: us-west-2
          role-to-assume: ${{ secrets.IntegTestRoleArn }}
          role-session-name: mcp-proxy-for-aws-integ-tests

      - name: Run integration tests
        run: |
          uv run pytest -m integ -s
